# Core dependencies
torch==2.7.0
torchvision==0.22.0
torchaudio==2.7.0
transformers==4.52.4
xformers==0.0.30
datasets==3.6.0
evaluate==0.4.3
scikit-learn==1.6.1
optuna==4.3.0
tqdm

# Optional utilities
pandas
numpy
pyarrow
matplotlib-inline